<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link rel="shortcut icon" href="/images/pinterest-logo-png-1984.png" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<style>
  
#post{
  font-size: 1rem;
  line-height: 60%;
  width: 10rem;
  height: 3rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:3rem ;
  text-transform: capitalize;
  
}
#post a{
  color: #ffffff;
}
</style>

<body>
     <!-- there is feed upload section -->


  <!-- for dp upload  -->
  <form hidden id="dpbtn" action="/dpimage" method="post" enctype="multipart/form-data">
    <input id="dpfile" type="file" name="file"  >
    <button  type="submit">upload here</button>
  </form>



    <div class="menu">
        <img draggable="false" class="logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png">
        <a class="home" href="/profile" >Home</a>
        <div id="post"><a href="/post">create post</a></div>
        <input id="one" type="text" class="search-bar" placeholder="Search">
        <button id="two" class="search-bar"></button>
        <div class="icon-container">
          <img tabindex="1" draggable="false"  class="icon bell" src="https://i.hizliresim.com/rcvolcu.png">
          <img tabindex="1" draggable="false" class="icon message" src="https://i.hizliresim.com/newumah.png">
          <img tabindex="1" draggable="false" class="icon pp" src="/images/dpside/<%=user.imagedp%>">
          <img tabindex="1" draggable="false" class="icon btn" src="https://i.hizliresim.com/g15mqud.png">
          
          <!----FOCUS----->
          <div tabindex="1" class="focus-bar bell-bar">nothing</div>
          <!-------------------->
          <div tabindex="1" class="focus-bar message-bar">you are alone</div>
          <!-------------------->
          <div tabindex="1" class="focus-bar pp-bar"><img src="/images/dpside/<%=user.imagedp%>"><a href="/feed" >devrimos</a>
          <h1></h1>
          </div>
          <!-------------------->
          <div tabindex="1" id="btn" class="focus-bar btn-bar">
            <div class="box">
              <div class="top">
                <div class="images">
                  <img  src="/images/dpside/<%=user.imagedp%>" alt="">
                </div>
             
                <div class="xox">

                  <a href="/feed"><%=user.username%></a>
                  <p>personal</p>
                  <a2 href="/feed"><%=user.email%></a2>
                </div>
              </div>
              <div class="navigation">
  
                <a id="btn1" class="button1" href="/logout">
                  <img class="imaan" src="/images/dpside/<%=user.imagedp%>">
                
                <div class="logout">LOGOUT</div>
              
                </a>
                
              </div>
              
            </div>
          </div>
          
        </div>
      </div>

      <div class="boxydown">
        <div class="boxyiamges">
           
            <img class="boxy" src="/images/dpside/<%=user.imagedp%>" alt="">

        </div>
        <div class="follower">
          <p><%=user.followings.length%></p>
            <p>followings</p>
        </div>
        
        
        <p><%=user.username%></p>
        <div class="logowithemail">
            <i class="ri-pinterest-line"></i>
            <p><%=user.email%></p>
        
        </div>
        <div class="buttontwo">
          <button>share</button>
          <button id="btnupdt">Update Your Profile</button>
        
        </div>
        <div class="savedarea">
          <div class="cards">
            <%user.posts.forEach(function(post){%>
              <div class="sqr">
                
                <img class="imag1 " src="/images/uploads/<%=post.image%>" alt="">
                <div class="sqr2">
                  <h5><%=post.caption%></h5>
                </div>
               
              </div>
            <%}) %>
            
          </div>
           
       
          
      </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>




  document.querySelector("#btnupdt").addEventListener("click",()=>{
    document.querySelector("#dpfile").click();
  })


  document.querySelector("#dpfile").addEventListener("change",()=>{
    document.querySelector("#dpbtn").submit();
  })
 


</script>

</html>